<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.CapstoneActivityTracker.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.CapstoneActivityTracker.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.CapstoneActivityTracker.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.CapstoneActivityTracker.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentMainServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.CapstoneActivityTracker.servlet.StudentMainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminMainServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.CapstoneActivityTracker.servlet.StudentMainServlet</servlet-class>
  </servlet>
  


  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SudentMainServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminMainServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
